<!-- Getform form https://getform.io -->

<!-- Add the getform-endpoint in config.yml -->
<form action="https://getform.io/f/{{site.getform_endpoint}}" enctype="multipart/form-data" method="POST"  target="_blank">
    <div class="form-group">
            <label for="contact_form_name">Twoje imię :</label>
            <input type="text" class="form-control" name="name" id="contact_form_name" placeholder="Wpisz imię">
           </div>
           <div class="form-group">
             <label for="contact_form_email">Twój Email :</label>
            <input type="email" class="form-control" name="email" id="contact_form_email" placeholder="Wpisz swój email">
           </div>
           <div class="form-group">
             <label for="contact_form_message"> Twoja wiadomość :</label>
            <textarea name="message" class="form-control" id="contact_form_message" placeholder="Wpisz wiadomość"></textarea>
           </div>
           <div class="form-group">
               <label for="contact-form-file"> Załączniki :</label>
            <input type="file" name="file" class="form-control" id="contact-form-file" placeholder="Attach files"/>
           </div>
            <button type="submit" value="Send" class="btn btn-lg btn-dark">Wyślij</button>
</form>